<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit item</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    </head>

    <body>
        <div  class="container">
            <h1>Edit item</h1>
            <div>
                <form th:object="${item}" th:action="@{../save}" action="#" method="post"
                      class="form-horizontal form-control-sm">
                    <input type="hidden" id="itemId" th:field="*{itemId}" />
                    <div class="form-group">
                        <label for="title">Name</label>
                        <input type="text" class="form-control" placeholder="Enter name"
                               id="name" th:field="*{name}" required/>
                    </div>

                    <div class="form-group">
                        <label for="author">Quantity</label>
                        <input type="number" class="form-control" placeholder="Enter amount"
                               id="quantity" th:field="*{quantity}" min="1" required/>
                    </div>

                    <div class="form-group">
                        <label for="type">Type</label>
                        <select class="form-control" id="type" th:field="*{type}">
                            <option th:each="type: ${types}"
                                    th:value="${type.typeId}"
                                    th:text="${type.name}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="location">Location</label>
                        <select class="form-control" id="location" th:field="*{location}">
                            <option th:each="location: ${locations}"
                                    th:value="${location.locationId}"
                                    th:text="${location.name}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="isFragile">Fragility</label>
                        <select class="form-control" id="isFragile" th:field="*{isFragile}" required>
                            <option value="true">Fragile</option>
                            <option value="false">Not fragile</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="isChecked">Checked</label>
                        <select class="form-control" id="isChecked" th:field="*{isChecked}" required>
                            <option value="true">+</option>
                            <option value="false">-</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success" id="saveButton">Save</button>
                        <button type="button" onclick="window.location='/stuff';">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>