<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Types List</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    </head>

    <body>
    <div class="container">
        <a href="/stuff" class="btn btn-success">Back to items</a>
            <h1>Types</h1>

            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                <tr th:each = "type : ${types}">
                    <td th:text="${type.name}"></td>
                    <td><a th:href="@{/deletetype/{id}(id=${type.typeId})}" class="btn btn-danger">Delete</a></td>
                </tr>
            </table>
            <a href="/addtype" class="btn btn-success">Add Type</a>

        </div>
    </body>
</html>